<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nombre del Sitio Web</title>
  <link rel="stylesheet" href="/css/styles.css" />
<body>
  <h2>Shakira</h2>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/about">Acerca de</a></li>
    <li><a href="/works">Trabajos</a></li>
    <li><a href="/gallery">Galería de Fotos</a></li>
  </ul>
  
  <img src="/images/Shakira2.jpg" alt="Shakira imagen" class="imagen-2">
  <img src="/images/Shakira3.jpg" alt="Shakira imagen" class="imagen-2">

  <p>Nombre completo: Shakira Isabel Mebarak Ripoll</p>
  <p>Fecha de nacimiento: 2 de febrero de 1977</p>
  <p>Nacionalidad: Colombiana</p>

  <p>Géneros musicales: Pop, música latina, rock en español, reguetón, entre otros.</p>
    
  <p>Shakira es una cantante, compositora y productora musical colombiana ampliamente reconocida en todo el mundo. A lo largo de su carrera, ha logrado un éxito extraordinario en la música y ha dejado una marca duradera en la industria.
    
    Algunos aspectos destacados de su carrera incluyen:
    
    <p>Éxito Internacional: Shakira ha vendido millones de discos en todo el mundo y ha ganado numerosos premios, incluyendo múltiples Grammy y Grammy Latino.</p>
    
    <p> Diversidad Musical: A lo largo de su carrera, ha experimentado con una amplia variedad de géneros musicales, desde el pop y el rock en español hasta la música latina y el reguetón. Su versatilidad musical le ha permitido llegar a audiencias de diferentes culturas.</p>
    
    
   
  
</body>
</html>
