<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <h2>Galería de Fotos</h2>
 
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/about">Acerca de</a></li>
    <li><a href="/works">Trabajos</a></li>
    <li><a href="/gallery">Galería de Fotos</a></li>
  </ul>
  <img src="/images/Shakira7.png" alt="Shakira imagen" class="imagen-3">
  <img src="/images/Shakira8.jpg" alt="Shakira imagen" class="imagen-3">
  <img src="/images/Shakira6.jpg" alt="Shakira imagen" class="imagen-3">
  <img src="/images/Shakira4.jpg" alt="Shakira imagen" class="imagen-3">
  <img src="/images/Shakira9.jpg" alt="Shakira imagen" class="imagen-3">
  <img src="/images/Shakira10.png" alt="Shakira imagen" class="imagen-3">
  <img src="/images/Shakira11.jpg" alt="Shakira imagen" class="imagen-3">
  <img src="/images/Shakira12.jpeg" alt="Shakira imagen" class="imagen-3">
  <img src="/images/Shakira13.png" alt="Shakira imagen" class="imagen-3">
  <img src="/images/Shakira14.jpg" alt="Shakira imagen" class="imagen-3">
  <img src="/images/Shakira15.jpg" alt="Shakira imagen" class="imagen-3">
  <img src="/images/Shakira16.png" alt="Shakira imagen" class="imagen-3">
  <img src="/images/Shakira17.png" alt="Shakira imagen" class="imagen-3">
  <img src="/images/Shakira18.png" alt="Shakira imagen" class="imagen-3">
  <img src="/images/Shakira19.png" alt="Shakira imagen" class="imagen-3">
</body>
</html>
