<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nombre del Sitio Web</title>
  <link rel="stylesheet" href="/css/styles.css" />
 
  
</head>
<body>
  
  <h1>Shakira</h1>
  
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/about">Acerca de</a></li>
    <li><a href="/works">Trabajos</a></li>
    <li><a href="/gallery">Galería de Fotos</a></li>
  </ul>
  <img src="/images/Shakira1.jpg" alt="Shakira imagen" >
</body>
</html>