<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nombre del Sitio Web</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <h2>Shakira</h2>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/about">Acerca de</a></li>
    <li><a href="/works">Trabajos</a></li>
    <li><a href="/gallery">Galería de Fotos</a></li>
  </ul>
  <p> Shakira es conocida por una serie de éxitos, incluyendo "Hips Don't Lie", "Whenever, Wherever", "La Tortura", "Waka Waka (This Time for Africa)", y muchas más.</p>
    
    <p> Baile y Actuación: Además de su talento musical, Shakira es una destacada bailarina y actriz. Sus presentaciones en vivo suelen incluir coreografías impactantes.</p>
    
        <p>Activismo Social: Fuera de la música, Shakira también es conocida por su trabajo en causas benéficas y proyectos de desarrollo social, especialmente en el ámbito de la educación y la infancia.</p>
    
            <p>Premios y Reconocimientos: Ha recibido numerosos premios y reconocimientos a lo largo de su carrera, incluyendo estrellas en el Paseo de la Fama de Hollywood y el Paseo de la Fama de Colombia.</p>
    
                
  
  <img src="/images/Shakira13.png" alt="Shakira imagen" class="imagen-2">
  <img src="/images/Shakira5.jpg" alt="Shakira imagen" class="imagen-2">
</body>
</html>
